<div class="container">
  <div style="text-align:center">
    <h1 class="title">
      Search for javascript libraries!
    </h1>
  </div>
  <div style="text-align:center">
    <input (keyup)="searchTerm$.next($event.target.value)" placeholder="redux" />
  </div>
  <div class="result">
    <ul *ngIf="result" style="list-style: none;  text-align:center;">
      <li *ngFor="let res of result | slice: 0:9">
        <a href="{{ res.latest }}" target="_blank" style="text-align:center">
          {{ res.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
